.grid{

    display: grid;
    grid-template-columns: 1fr repeat(1, minmax(auto, 25em)) 1fr;
}

#home{

    height:500px;
}

#home .content-container{
align-items: center;
align-self: center;

}

/* rectangle effect */

.proto-container{

position:absolute;

top: 15%;
height:70%;
width:100%;
/*Allows movement at certain areas that dont read mouse move*/
pointer-events: none;

}

.proto{
border: 3px solid rgba(255,255,255,0.1);
height:80%;
width:19%;
float: left;
margin-left: 1em;
transform:translateX(-90%);
}

