@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");

:root {
  --main-bg-color: #0c111b;
  --link-bg-color: #bdbdbd;
}

ul {
  list-style: none;
  align-items: center !important;
}

ul li {
  align-self: center !important;
  align-items: center impr !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

#nav {
  background-color: var(--main-bg-color);
  font-family: "Mulish", sans-serif;
}

.brand {
  font-weight: 400;
}

.bg-gray-link {
  color: var(--link-bg-color) !important;
}
